*,
*::before,
*::after {
    box-sizing: border-box;
    border-radius: 5px;
}

:root{
    --fs-h1: max(2vw, 30px);
    --fs-h2: max(1.5vw, 15px);
    --fs-body: 1rem;

    --ff-primary: 'Outfit', sans-serif;
    --fw-reg: 300;
    --fw-bold: 900;

}

@media (max-width: 800px){
    #vid{
        width: 0;
        height: 0;
    }
}

@media (min-width: 801px) {
    :root {
        --fs-h1: max(2vw, 30px);
        --fs-h2: max(1.5vw, 15px);
    }

    #vid {
        width: 20vw;
        height: auto;
    }

    .space {
        height: 30vh;
    }

}

.light{
    --bg: #faf2e7;
    --text: 303030;
    --hoverColor: white;
}

.dark{
    --bg: #40444b;
    --text: #F0F1EA;
    --hoverColor: ;
}

body {
    background: var(--bg);
    color: var(--text);
    margin: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.6;
    transition: background 500ms ease-in-out, color 500ms ease-in-out;
}

section {
    margin-top: 1vh;
    margin-bottom: 10vh;
    padding: 5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

.scrollContainer section{
    scroll-snap-align: start;
}

.gridContainer {
    width: 67vw;
    height: 60vh;
    display: grid;
    grid-template-columns: 2fr 1.5fr;
    grid-template-rows: 0.25fr 1fr;
}

.grid-title{
    font-size: var(--fs-h1);
    margin: 0;
    padding: 0;
    border: 0;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
}

.grid-image{
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end:3;
}

.grid-text{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: var(--fs-h2);
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
}

/* Section 2*/
#title2{
    font-size: var(--fs-h1);
}

.Cgrid{
    position: relative;
    bottom: -5vh;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    max-height: 90vh;

}

#textApp {
    grid-row-start: 1;
    grid-row-end: 2;
    padding: 10px;
    font-size: var(--fs-h2);
}

#Orthello {
    grid-row-start: 2;
    grid-row-end: 3;
    padding: 10px;
    font-size: var(--fs-h2);
}

#GIS{
    padding: 10px;
    font-size: var(--fs-h2);
}

#GISImage {
    position: absolute;
    max-height: 25vh;
    max-width: 25vw;
    height: auto;
    width: auto;
}

/* Section 3*/

.med-grid{
    display: grid;
    grid-template-columns: 50% 50%;
}

.medImg {
    max-height: 30vh;
    max-width: 30vw;
    height: auto;
    width: auto;
}

.medItem {
    padding: 1vw;
    font-size: var(--fs-h2);
}

.toggle {
    position: absolute; 
    bottom: 5vh;
}

#moon path{
    fill: white;
}

.invisible {
    animation: invisible 0.25s forwards;
}

@keyframes invisible {
    to {
        opacity: 0;
    }
}

#projectIntro{
    font-size: var(--fs-h1);
    text-align: center;
}

.flexyBoxy{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

#projectIntroText{
    max-width: 75vw;
    font-size: var(--fs-h2);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}
  
li {
    float: left;
}
  
li a {
    display: block;
    padding: 8px;
    font-size: var(--fs-h2);
}

#homeLink:hover{
    color: var(--hoverColor);
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#projectLink:hover{
    color: var(--hoverColor);
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#aboutLink:hover{
    color: var(--hoverColor);
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

a:link { 
        text-decoration: none; 
}

a:visited { 
    text-decoration: none; 
}

a:link { 
    text-decoration: none; 
}

a:hover { 
    text-decoration: none; 
}

.shift {
    width: 100vw;
    position: absolute;
    top: 10vh;
}

a {
    color: inherit;
}

.C-title{
    padding: 0;
    margin: 0;
}